* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.chartjs-tooltip {
  display: none !important;
}

.react-grid-item > .react-resizable-handle::after {
  border-right: 2px solid white !important;
  border-bottom: 2px solid white !important;
}
.css-1jlfsom-MuiTable-root {
  min-width: auto !important;
}

.css-194396g-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: rgba(135, 207, 235, 0.141) !important;
}

.css-1xav0lm-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: rgba(135, 207, 235, 0.141) !important;
}

body {
  background-color: rgb(21, 20, 20);
  color: white;
}
body .MuiTableCell-root {
  border-bottom: #00374e solid 1px;
}

body .css-qai666-MuiTable-root {
  min-width: auto !important;
}
body .MuiTableHead-root {
  background-color: #002235;
}

body .MuiTableCell-root {
  padding: 10px 16px;
  font-weight: 500;
}
body .MuiChip-root,
.css-gjv9n6-MuiChip-root {
  font-size: 0.75em;
  line-height: 1;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 5px 10px !important;
}
body .MuiChip-root span,
.css-gjv9n6-MuiChip-root span {
  padding: 0px !important;
}
body .css-1lymaxv-MuiDataGrid-root .MuiDataGrid-withBorderColor {
  border-color: #353535 !important;
}
body .css-1lymaxv-MuiDataGrid-root {
  border-color: #353535 !important;
}

body .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
  color: white !important;
}

body .css-zylse7-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
  color: white !important;
}

body .MuiSvgIcon-root {
  color: white !important;
}

body .MuiSvgIcon-fontSizeMedium {
  color: white !important;
}

body .MuiTableSortLabel-root > svg {
  color: white !important;
}

::-webkit-scrollbar {
  width: 20px !important;
}

/* Background color of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #082835 !important;
}
body .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  color: white !important;
}

body .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border: 1px solid transparent !important;
}
body .MuiOutlinedInput-root {
  border-radius: 10px !important;
  padding: 0.5 !important;
}

/* Color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #0d3345 !important;
  border-radius: 15px !important;
}
